@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/SFMono/SFMono-Light.woff2') format('woff2'),
        url('/fonts/SFMono/SFMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/SFMono/SFMono-Regular.woff2') format('woff2'),
        url('/fonts/SFMono/SFMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/SFMono/SFMono-Medium.woff2') format('woff2'),
        url('/fonts/SFMono/SFMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Mono';
    src: url('/fonts/SFMono/SFMono-Bold.woff2') format('woff2'),
        url('/fonts/SFMono/SFMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


